<div class="min-h-full top-0 sticky z-10 flex @(ThemeState.SideBarBackgroundColour) xl:hidden @(SidebarIsVisible ? "w-80" : "w-0") transition-all duration-500 overflow-x-hidden">
    <div class="flex grow flex-col overflow-y-auto px-6">
        <SidebarTitle />
        <NavMenuItems />
    </div>
</div>

@code {

    [CascadingParameter]
    protected ThemeState ThemeState { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback OnCloseMenu { get; set; }

    [Parameter]
    public bool SidebarIsVisible { get; set; }
}