<PageSectionTitle Title="@Title" />

<div class="grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-4">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = default!;

}
