@page "/tasks"

<PageTitle>Tasks</PageTitle>
<PageSectionTitle Title="Tasks" />

<div>

    <ul>
        <li>
            Task 1
        </li>
        <li>
            Task 2
        </li>
        <li>
            Task 3
        </li>
    </ul>

</div>

@code {

}
